body {
  padding: 0;
  margin: 0;
  font-size: 1.3em;
  line-height: 1.5em;
  font-family: helvetica,arial,freesans,clean,sans-serif;
  color: #222;
}

h1 {
  margin-bottom: 0;
}

a {
  text-decoration: underline;
  color: #222;
}

#description {
  margin: 0;
  font-style: italic;
}

h2, h3, h4 {
  border-left: 5px solid #222;
  padding-left: 5px;
}

div#container {
  width: 800px;
  padding; 0;
  margin: 0 auto;
}

pre {
  font-size: 0.8em;
  line-height: 1.3em;
  font-family: "Courier 10 Pitch", Courier, monospace;
  background-color: #ccc;
  color: #222;
  padding: 10px;
  border-radius: 10px;
}
